{% extends 'base.html.twig' %}
{% block body %}

    <div class="container mt-5">
        <div class="mt-5">
            {{ form_start(monFormulaire) }}
            {{ form_rest(monFormulaire) }}
            <button class="btn btn-primary">search</button>
            {{ form_end(monFormulaire) }}
        </div>
        <table class="table mt-5">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">NAME</th>
                <th scope="col">Auteurs</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for key, genre in genre %}
                <tr>
                    <th scope="row">{{genre.id}}</th>

                    <td><a href="{{ path('bookland_showGenre', {id: genre.id}) }}">{{genre.nom}}</a></td>
                    <th scope="row">{% for auteur in auteurs[key] %}{{ auteur.nomPrenom }},{% endfor %}</th>
                    <td>
                        <div class="d-grid gap-2 d-md-block">
                            <a href="{{ path('bookland_modifierGenre', {id: genre.id}) }}"><button class="btn btn-primary" type="button">Modifier</button></a>
                            <a href="{{ path('bookland_removeGenre', {id: genre.id}) }}"><button class="btn btn-primary" type="button">Supprimer</button></a>
                        </div>
                    </td>


                </tr>

            {% endfor %}
            </tbody>
        </table>
        <div class="d-grid gap-2 d-md-block">
            <a href="{{ path('bookland_addGenre') }}"><button class="btn btn-primary" type="button">Ajouter</button></a>
        </div>
    </div>

{% endblock %}